/* --------- General Styles ------------ */
* {
  box-sizing: border-box;
  /* ovenstående inkluderer padding og border i elementets totale højde og bredde */
  background-color: gainsboro;

  /* gapvariabler */
  --space-s: 1rem;
  --space-m: 2rem;
  --space-l: 3rem;
  --space-xl: 4rem;

  /* Farvevariabler */
  --pink: #ffe3f3;
  --blue: #e3fffa;
  --orange: #ffda9f;
  --green: #e0ffc9;
}

h1 {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  text-transform: uppercase;
  font-size: 2rem;
}
h2 {
  font-size: 1.2rem;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  text-transform: capitalize;
}
p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 1.6rem;
}

.intro {
  background-color: #c09fff;
  padding: 5px;
}

.intro h2,
.intro p {
  background-color: #c09fff;
}

.verse,
.verse_2 {
  background-color: var(--pink);
  padding: 10px;
}

.verse p,
.verse h2,
.verse_2 p,
.verse_2 h2 {
  background-color: var(--pink);
}
.pre-chorus {
  background-color: var(--blue);
  padding: 10px;
}

.bridge {
  background-color: var(--green);
  padding: 10px;
}
.bridge p,
.bridge h2 {
  background-color: var(--green);
}

.pre-chorus p,
.pre-chorus h2 {
  background-color: var(--blue);
}
.chorus,
.post-chorus {
  background-color: var(--orange);
  padding: 10px;
}

.chorus p,
.chorus h2,
.post-chorus p,
.post-chorus h2 {
  background-color: var(--orange);
}

/* Hamburger */

/* ---------------- NAV MENU ---------------*/

.logo {
  margin-inline: 40px;
}

.nav-menu li {
  font-family: Arial, Helvetica, sans-serif;
  list-style: none;
  font-size: 1.1rem;
  text-align: center;
  text-transform: uppercase;
}
a {
  color: black;
  text-decoration: none;
}

.navbar {
  min-height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 20px;
}
.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 35px;
}

.nav-link {
  transition: 0.7s ease;
}

.navbar a:hover {
  color: var(--pink);
}

.hamburger {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 30px;
  height: 3px;
  margin-block: 5px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: black;
  border-radius: 15px;
}

@media (max-width: 810px) {
  .logo {
    width: 30%;
    font-size: 2rem;
    margin-inline: 0;
  }
  .navbar {
    padding: 20px;
  }
  .hamburger {
    display: block;
  }
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
  .nav-menu {
    position: fixed;
    left: -100%;
    top: 50px;
    gap: 0;
    flex-direction: column;
    width: 100%;
    text-align: center;
    transition: 0.3s;
  }
  .nav-item {
    margin-block: 16px;
  }

  .nav-menu.active {
    left: 0;
  }
}
/* ------------------ scroll to top knap -------------------- */
#top_knap {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: var(--pink); /* Set a background color */
  color: black; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
  opacity: 80%;
}

#top_knap:hover {
  background-color: darkgray; /* Add a dark-grey background on hover */
  opacity: 100%;
}

/* 1 sang */
.sang_1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 10px;
}

.sang_1 > div.pre-chorus:nth-child(2) {
  grid-column: 1;
  grid-row: 2;
}
.sang_1 > div.chorus:nth-child(3) {
  grid-column: 1;
  grid-row: 3;
}
.sang_1 > div.pre-chorus:nth-child(5) {
  height: 80px;
  grid-column: 2;
  grid-row: 2;
}
.sang_1 > div.pre-chorus:nth-child(6) {
  height: 80px;
  grid-column: 2;
  grid-row: 2;
  margin-top: 160px;
}

.sang_1 > div.chorus:nth-child(7) {
  height: 80px;
  grid-column: 2;
  grid-row: 2;
  margin-top: 80px;
}

.sang_2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 10px;
}

/* sang 2 */

.sang_2 > .div.verse_2:nth-child(2) {
  grid-column: 1;
}

.sang_2 > .div.pre-chorus:nth-child(3) {
  grid-column: 1;
}

.sang_2 > div.chorus:nth-child(4) {
  grid-column: 1;
}

.sang_2 > div.post-chorus:nth-child(5) {
  grid-column: 2;
  grid-row: 1;
}

.sang_2 > div.verse:nth-child(6) {
  grid-row: 2;
  grid-column: 2;
}

.sang_2 > div.verse_2:nth-child(7) {
  grid-row: 3;
  grid-column: 2;
  height: 80px;
}

.sang_2 > div.pre-chorus:nth-child(8) {
  grid-row: 3;
  grid-column: 2;
  height: 80px;
  margin-top: 80px;
}

.sang_2 > div.chorus:nth-child(9) {
  grid-row: 3;
  grid-column: 2;
  height: 80px;
  margin-top: 160px;
}

.sang_2 > div.post-chorus:nth-child(10) {
  grid-row: 3;
  grid-column: 2;
  height: 89px;
  margin-top: 220px;
}

.sang_2 > .bridge {
  grid-column: 2;
  grid-row: 4;
}

.sang_2 > div.chorus:nth-child(12) {
  /* }: ; */
  grid-column: 2;
  grid-row: 4;
  height: 60px;
  margin-top: 195px;
}

.sang_2 > div.post-chorus:nth-child(13) {
  grid-column: 2;
  grid-row: 4;
  height: 60px;
  margin-top: 250px;
}

/* Sang 3 */

.sang_3 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 10px;
}

.sang_3 > div:nth-child(1) {
  grid-column: 1;
  grid-row: 1;
}

.sang_3 > div:nth-child(2) {
  grid-column: 1;
  grid-row: 1;
  margin-top: 150px;
}

.sang_3 > div:nth-child(3) {
  grid-column: 1;
}

.sang_3 > div:nth-child(4) {
  grid-column: 1;
}

.sang_3 > div:nth-child(5) {
  grid-column: 2;
  grid-row: 1;
}

.sang_3 > div.verse_2:nth-child(6) {
  grid-column: 2;
  grid-row: 1;
  margin-top: 150px;
}

.sang_3 > div:nth-child(7) {
  grid-column: 2;
  grid-row: 2;
}

.sang_3 > div.bridge:nth-child(8) {
  grid-column: 2;
  grid-row: 2;
  margin-top: 80px;
}

.sang_3 > div.verse:nth-child(9) {
  grid-column: 2;
  grid-row: 3;
}

.sang_3 > div:nth-child(10) {
  grid-column: 2;
  grid-row: 3;
  margin-top: 200px;
}

/* Sang 4 */

.sang_4 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 10px;
}

.sang_4 > div.chorus:nth-child(2) {
  grid-column: 1;
}

.sang_4 > div:nth-child(3) {
  grid-column: 1;
}

.sang_4 > div:nth-child(4) {
  grid-column: 2;
  grid-row: 1;
  height: 80px;
}

.sang_4 > div.bridge:nth-child(5) {
  grid-column: 2;
  grid-row: 1;
  margin-top: 80px;
}

.sang_4 > div.verse:nth-child(7) {
  grid-column: 2;
  grid-row: 2;
  margin-top: 80px;
}

.sang_4 > div.chorus:nth-child(6) {
  grid-column: 2;
  grid-row: 2;
  height: 80px;
}

.sang_4 > div:nth-child(8) {
  height: 80px;
  grid-column: 2;
  grid-row: 3;
}

.sang_4 > div.bridge:nth-child(9) {
  grid-column: 2;
  grid-row: 3;
  margin-top: 80px;
  height: 80px;
}

.sang_4 > div:nth-child(10) {
  grid-column: 2;
  grid-row: 3;
  margin-top: 160px;
}

/* Sang 5 */

.sang_5 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 10px;
}

.sang_5 > div:nth-child(2) {
  grid-column: 1;
}

.sang_5 > div:nth-child(3) {
  grid-column: 1;
}

.sang_5 > div:nth-child(4) {
  grid-column: 2;
  grid-row: 1;
}

.sang_5 > div:nth-child(5) {
  grid-column: 2;
  grid-row: 1;
  margin-top: 230px;
}

.sang_5 > div:nth-child(6) {
  grid-column: 2;
  grid-row: 2;
}

.sang_5 > div.bridge:nth-child(7) {
  grid-row: 2;
  margin-top: 80px;
  grid-column: 2;
}

.sang_5 > div:nth-child(8) {
  grid-column: 2;
  grid-row: 3;
}
.sang_5 > div:nth-child(9) {
  grid-column: 2;
  grid-row: 3;
  margin-top: 140px;
}

/* Sang 6 */

.sang_6 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 10px;
}
.sang_6 > div.chorus:nth-child(1) {
  grid-column: 1;
  grid-row: 1;
}
.sang_6 > div.chorus:nth-child(2) {
  grid-column: 1;
  grid-row: 2;
}

.sang_6 > div.chorus:nth-child(3) {
  grid-column: 1;
  grid-row: 2;
  margin-top: 280px;
}

.sang_6 > div:nth-child(4) {
  grid-column: 2;
  grid-row: 1;
}

.sang_6 > div:nth-child(5) {
  grid-column: 2;
  grid-row: 1;
  margin-top: 280px;
}

.sang_6 > div:nth-child(6) {
  grid-column: 2;
  grid-row: 2;
}

.sang_6 > div:nth-child(7) {
  grid-column: 2;
  grid-row: 2;
  margin-top: 110px;
}

/* Sang 7 */

.sang_7 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 10px;
}

.sang_7 > div:nth-child(2) {
  grid-column: 1;
}

.sang_7 > div:nth-child(3) {
  grid-column: 1;
}

.sang_7 > div:nth-child(4) {
  grid-column: 2;
  grid-row: 1;
}

.sang_7 > div.verse_2:nth-child(5) {
  grid-column: 2;
  grid-row: 1;
  margin-top: 168px;
}

.sang_7 > div:nth-child(6) {
  grid-column: 2;
  grid-row: 2;
}

.sang_7 > div:nth-child(7) {
  grid-column: 2;
  grid-row: 2;
  margin-top: 80px;
}

.sang_7 > div.verse:nth-child(8) {
  grid-column: 2;
  grid-row: 3;
}

.sang_7 > div:nth-child(9) {
  grid-column: 2;
  grid-row: 3;
  margin-top: 160px;
}

/* Sang 8 */

.sang_8 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 10px;
}

.sang_8 > div.verse:nth-child(2) {
  grid-column: 1;
  grid-row: 1;
  margin-top: 170px;
}

.sang_8 > div:nth-child(3) {
  grid-column: 1;
}

.sang_8 > div:nth-child(4) {
  grid-column: 2;
  grid-row: 1;
}

.sang_8 > div:nth-child(5) {
  grid-column: 2;
  grid-row: 1;
  margin-top: 170px;
}

.sang_8 > div:nth-child(1) {
  grid-column: 1;
  grid-row: 1;
}

.sang_8 > div:nth-child(7) {
  grid-column: 2;
  grid-row: 2;
  margin-top: 90px;
}

.sang_8 > div:nth-child(6) {
  grid-column: 2;
  grid-row: 2;
}

/* Sang 9 */

.sang_9 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 10px;
}

.sang_9 > div:nth-child(2) {
  grid-column: 1;
}

.sang_9 > div:nth-child(3) {
  grid-column: 1;
}

.sang_9 > div.verse_2:nth-child(4) {
  grid-column: 2;
  grid-row: 1;
}

.sang_9 > div:nth-child(5) {
  grid-column: 2;
  grid-row: 2;
}

.sang_9 > div:nth-child(6) {
  grid-column: 2;
  grid-row: 2;
  margin-top: 80px;
}

.sang_9 > div.pre-chorus:nth-child(7) {
  grid-column: 2;
  grid-row: 2;
  margin-top: 210px;
}

/* Sang 10 */

.sang_10 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 10px;
}

.sang_10 > div:nth-child(1) {
  grid-column: 1;
  grid-row: 1;
}

.sang_10 > div:nth-child(2) {
  grid-column: 1;
  grid-row: 1;
  margin-top: 180px;
}

.sang_10 > div.verse:nth-child(3) {
  grid-column: 1;
  grid-row: 2;
}

.sang_10 > div:nth-child(4) {
  grid-column: 1;
  grid-row: 2;
  margin-top: 150px;
}

.sang_10 > div:nth-child(6) {
  grid-column: 2;
  grid-row: 2;
}

.sang_10 > div:nth-child(7) {
  grid-column: 2;
  grid-row: 2;
  margin-top: 170px;
}

/* SET LISTE 2  */

/* Sang 11 - Signed Sealed Delivered */
.sang_11 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.sang_11 > div.chorus:nth-child(2) {
  grid-column: 1;
}

.sang_11 > div.post-chorus:nth-child(3) {
  grid-column: 1;
}

.sang_11 > div.verse:nth-child(4) {
  grid-column: 2;
  grid-row: 1;
}

.sang_11 > div.chorus:nth-child(5) {
  grid-column: 2;
  grid-row: 2;
}

.sang_11 > div.chorus:nth-child(7) {
  grid-column: 2;
  grid-row: 3;
  margin-top: 90px;
}

.sang_11 > div.post-chorus:nth-child(6) {
  grid-row: 3;
  grid-column: 2;
}

/* Sang 12 - Highest Ground */
.sang_12 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.sang_12 > div.verse:nth-child(2) {
  grid-column: 1;
}

.sang_12 > div.bridge:nth-child(3) {
  grid-column: 1;
}

.sang_12 > div:nth-child(4) {
  grid-column: 2;
  grid-row: 1;
}

.sang_12 > div.verse:nth-child(5) {
  grid-column: 2;
  grid-row: 2;
}

/* Sang 13 - Jump */

.sang_13 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.sang_13 > div:nth-child(2) {
  grid-column: 1;
}

.sang_13 > .pre-chorus {
  grid-column: 1;
}

.sang_13 > div.chorus:nth-child(4) {
  grid-column: 1;
}

.sang_13 > .sang_13 > div:nth-child(5) {
  grid-column: 2;
  grid-row: 1;
}

.sang_13 > div.verse:nth-child(6) {
  grid-column: 2;
  grid-row: 2;
}

.sang_13 > div:nth-child(7) {
  grid-column: 2;
  grid-row: 3;
}

.sang_13 > div.bridge:nth-child(8) {
  grid-column: 2;
  grid-row: 3;
  margin-top: 100px;
}

.sang_13 > div.chorus:nth-child(9) {
  grid-column: 2;
  grid-row: 4;
}

.sang_13 > div.chorus:nth-child(10) {
  grid-column: 2;
  grid-row: 4;
  margin-top: 100px;
}

/* Sang 14 -  Kom tilbage nu */

.sang_14 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.sang_14 > div:nth-child(2),
.sang_14 > div:nth-child(3),
.sang_14 > div:nth-child(4) {
  grid-column: 1;
}

.sang_14 > div.pre-chorus:nth-child(5) {
  grid-column: 2;
  grid-row: 1;
}

.sang_14 > div.chorus:nth-child(6) {
  grid-column: 2;
  grid-row: 2;
}

.sang_14 > div.verse:nth-child(7) {
  grid-column: 2;
  grid-row: 3;
}

.sang_14 > div:nth-child(8) {
  grid-column: 2;
  grid-row: 4;
}

.sang_14 > div.verse:nth-child(9) {
  grid-column: 2;
  grid-row: 4;
  margin-top: 80px;
}

.sang_14 > div.pre-chorus:nth-child(10) {
  grid-column: 2;
  grid-row: 5;
}

.sang_14 > div.chorus:nth-child(11) {
  grid-column: 2;
  grid-row: 6;
}

.sang_14 > div.pre-chorus:nth-child(12) {
  grid-column: 2;
  grid-row: 7;
}

.sang_14 > div.chorus:nth-child(13) {
  grid-column: 2;
  grid-row: 8;
}

.sang_14 > div.chorus:nth-child(14) {
  grid-column: 2;
  grid-row: 9;
}
/* Sang 15 - Can't help falling in love */
.sang_15 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.sang_15 > div:nth-child(2) {
  grid-column: 1;
}

.sang_15 > div.chorus:nth-child(3) {
  grid-column: 1;
}

.sang_15 > div:nth-child(4) {
  grid-column: 2;
  grid-row: 1;
}

.sang_15 > div.bridge:nth-child(5) {
  grid-column: 2;
  grid-row: 2;
}

.sang_15 > div:nth-child(6) {
  grid-column: 2;
  grid-row: 2;
  margin-top: 80px;
}

/* Sang 16 - What's going on */

.sang_16 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.sang_16 > div:nth-child(2) {
  grid-column: 1;
}

.sang_16 > div.verse:nth-child(3) {
  grid-column: 2;
  grid-row: 1;
}

.sang_16 > div:nth-child(4) {
  grid-column: 2;
  grid-row: 2;
}

.sang_16 > div:nth-child(5) {
  grid-column: 2;
  grid-row: 2;
  margin-top: 80px;
}

.sang_16 > div:nth-child(6) {
  grid-column: 2;
  grid-row: 2;
  margin-top: 160px;
}

/* Sang 17 - De Vilde Kaniner*/

.sang_17 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.sang_17 > div:nth-child(2) {
  grid-column: 1;
}

.sang_17 > div:nth-child(3) {
  grid-column: 1;
}

.sang_17 > div.post-chorus:nth-child(4) {
  grid-column: 1;
}

.sang_17 > div:nth-child(5) {
  grid-column: 2;
  grid-row: 1;
}

.sang_17 > div:nth-child(6) {
  grid-column: 2;
  grid-row: 2;
}

.sang_17 > div.bridge:nth-child(7) {
  grid-column: 2;
  grid-row: 2;
  margin-top: 80px;
}

.sang_17 > div.verse:nth-child(8) {
  grid-column: 2;
  grid-row: 3;
}

.sang_17 > div:nth-child(9) {
  grid-column: 2;
  grid-column: ;
  grid-row: 4;
}

.sang_17 > div:nth-child(10) {
  grid-column: 2;
  grid-row: 4;
  margin-top: 80px;
}

.sang_17 > div.bridge:nth-child(11) {
  grid-column: 2;
  grid-row: 4;
  margin-top: 160px;
}

/* Sang 18 - Georgy Porgy - Toto */
.sang_18 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.sang_18 > div:nth-child(2) {
  grid-column: 1;
}

.sang_18 > div:nth-child(3) {
  grid-column: 1;
}

.sang_18 > div:nth-child(4) {
  grid-column: 1;
}

.sang_18 > div:nth-child(5) {
  grid-column: 2;
  grid-row: 1;
}

.sang_18 > div:nth-child(6) {
  grid-column: 2;
  grid-row: 2;
}

.sang_18 > div:nth-child(7) {
  grid-column: 2;
  grid-row: 3;
}

/* Sang 19 - Jeg vil lade lyset brænde */
.sang_19 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.sang_19 > div:nth-child(2) {
  grid-column: 1;
}

.sang_19 > div:nth-child(3) {
  grid-column: 2;
  grid-row: 1;
}

.sang_19 > div:nth-child(4) {
  grid-column: 2;
  grid-row: 2;
}

.sang_19 > div:nth-child(5) {
  grid-column: 2;
  grid-row: 2;
  margin-top: 80px;
}

.sang_19 > div:nth-child(6) {
  grid-column: 2;
  grid-row: 2;
  margin-top: 160px;
}

/* sang 20 - Foolosophy - Jamiriqai */

.sang_20 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}
